body {
    font-family: georgia;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

h1.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    float: left;
}

span.market{ 
    color: green;
}

header nav {
    float: right;
}

header nav h2 {
    text-indent: -10000px;
    height: 0;
    margin: 0;
}

header nav li {
    float: left;
    list-style-type: none;
    margin: 10px 20px;
}

header nav li a {
    text-decoration: none;
    color: #8B6;
    font-size: 1.05em;
}
header nav li a:hover {
    text-decoration: none;
    color: #69970c;
}

#main-banner, #main-banner img {
    width: 100%;

}

#main-banner {
    position: relative;
    clear: both;
}

#inner-content {
    position: absolute;
    min-width: 80%;
    text-align: center;
    top: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

#inner-content h4{
    color: #000;
    font-size: calc(18px + 4 * (100vw - 400px)/ 400);
    font-weight: 500;
    letter-spacing: .3em;
    text-shadow: 2px 2px #fff;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 1rem;

}

#inner-content h3{
    color: #000;
    font-size: calc(35px + 13.5 * (100vw - 400px)/ 400);
    font-weight: 500;
    display: inline-block;
    line-height: 1;
    text-shadow: 2px 2px #fff;
}

#main-banner label {
    font-size: 1vw;
    width: 70vw;
    margin: auto;
    text-align: left;
    display: block;
}

#main-banner input {
    width: 70vw;
    height: 3vh;
    margin: 5px auto;
    display: block;
    font-size: 2vw;
}

#main-banner button {
    position: relative;
    margin-top: 10px;
    width: 40vw;
    height: 2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: #FFF;
    font-weight: 900;
    font-stretch: expanded;
    background-color: #69970c;
    transition: 1s ease;
}

#main-banner button:hover {
    background-color: #8B6;
    transform: translateY(-3px)

}
