/* BOOTSTRAP OVERRIDES */
.success  {
    background-color: green;
}

.btn-success {
    background-color: green;
    border: none;
}

.btn {
    transition: color .45s ease,background-color .45s ease,border-color .45s ease,box-shadow .45s ease, transform .25s ease;

}

.navbar-brand {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: 600;
}



/* END BOOTSTRAP OVERRIDES */
.offscreen {
    text-indent: -1000000px;
    height: 0px;
}

.navbar-brand span{
    color: green !important;
}

#main-banner{
    overflow: hidden;
}

#get-quote-banner:hover {
-webkit-transform: translateY(-6px);
transform: translateY(-6px);
}

.jumbotronImage {
    width: 100%;
    min-height: 590px;
}

#inner-content {
    color: #fff;
    width: 90%;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#inner-content h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 4vw;
}

#inner-content h3 { 
    font-size: 6vw;
}

#get-quote-banner{
    width: 40%;
    font-size:1.3em;
    font-stretch: ultra-expanded;
    font-weight: 800;
}

.custom-card {
    border: none;
    border-radius: 0px;
    background-color: lightgrey;   
}

.custom-card:first-of-type {
    background-color: green;
    color: #fff;
}
.custom-card:first-of-type .btn-success{
    background-color: lightgrey;
    color: #000;
}

#first-pattern{
    background: url('./images/morocco-blue.png');
    font-size: 2.3vw;
}

#first-pattern h2{
    font-size: 3.3vw;
}